<div id="carouselExampleCaptions" class="carousel slide shadow" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active rounded">
            <img
                src="styles/images/homepage/step1.png"
                class="d-block w-100 rounded-lg"
                alt="Step one image - Destination"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Step ONE (Destination)</h5>
                <p>Pick a destination for your next adventure!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="styles/images/homepage/step2.jpg"
                class="d-block w-100 rounded-lg"
                alt="Step two image - Accommodation"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Step TWO (Accommodation)</h5>
                <p>Make an accommodation reservation.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="styles/images/homepage/step3.jpg"
                class="d-block w-100 rounded-lg"
                alt="Step three image - Flight"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Step THREE (Flight)</h5>
                <p>Get yourself some flight tickets!</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card rounded home-card">
            <div class="card-body">
                <h5 class="card-title">Find accommodation</h5>
                <p class="card-text">
                    You need accommodation for your next adventure. The earlier you make a
                    reservation, the better!
                </p>
                <a ui-sref="dashboard.accommodation" id="jump" class="btn btn-primary">Ring-Ring</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card home-card">
            <div class="card-body">
                <h5 class="card-title">Catch a flight</h5>
                <p class="card-text">
                    You're not really thinking of walking all the way to Japan? Grab a ticket and
                    let the "lesser" humans walk.
                </p>
                <a href="#" id="jump" class="btn btn-primary">Swoosh</a>
            </div>
        </div>
    </div>
</div>
