<script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
</script>

<div
    uib-alert
    ng-repeat="alert in alerts"
    ng-class="'alert-' + (alert.type || 'warning')"
    close="closeAlert($index)"
>
    {{ alert.msg }}
</div>

<div class="alert alert-info text-center position-absolute" role="alert">
    Tip: <strong>Beware</strong>, you won't be able to edit images later!
</div>
<div class="row">
    <div class="col-12 mx-auto">
        <p class="lead text-right">
            Fill in the form below to add a new accommodation to the system.
        </p>
        <div>
            <form
                ng-submit="aactrl.save()"
                name="accommodationForm"
                class="shadow p-3 mb-5 bg-white rounded"
                enctype="multipart/form-data"
            >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            ng-model="aactrl.newAccommodation.name"
                            placeholder="Enter Accommodation Name Here"
                            required
                        />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="accommodationType">Accommodation Type</label>
                        <select
                            class="form-control"
                            id="accommodationType"
                            name="accommodationType"
                            ng-model="aactrl.newAccommodation.accommodation_types_id"
                            ng-options="type.id as type.type for type in aactrl.accommodationTypes"
                            required
                        >
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="city">City</label>
                        <select
                            class="form-control"
                            id="city"
                            name="city"
                            ng-model="aactrl.newAccommodation.cities_id"
                            ng-options="city.id as city.name for city in aactrl.cities"
                            required
                        >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input
                        type="text"
                        class="form-control"
                        id="inputAddress"
                        ng-model="aactrl.newAccommodation.street_address"
                        placeholder="1234 Main Street"
                        required
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <!-- prettier-ignore -->
                    <textarea class="form-control"
                        placeholder="Located in Tokyo, 2.3 mi from Tokyo Tower, Shinagawa Prince Hotel East Tower features views of the city. With a bar, the 4-star hotel has air-conditioned rooms with free WiFi, each with a private bathroom. The property features a restaurant and Happoen Garden is 1.2 mi away. At the hotel, every room is fitted with a desk and a flat-screen TV. All units will provide guests with a fridge."
                        rows="5" ng-model="aactrl.newAccommodation.description" required></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="badge" for="stars">Stars</label>
                        <div ng-init="x = 5">
                            <span
                                uib-rating
                                ng-model="aactrl.newAccommodation.stars"
                                max="5"
                                state-on="'glyphicon-ok-sign'"
                                state-off="'glyphicon-ok-circle'"
                                aria-labelledby="custom-icons-1"
                            ></span>
                            <b>({{aactrl.newAccommodation.stars}} <i>stars</i>)</b>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="pricePerNight">Price Per Night</label>
                        <input
                            class="form-control"
                            ng-model="aactrl.newAccommodation.price_per_night"
                            type="number"
                            min="0.0"
                            step="0.01"
                            required
                        />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="available">Available:</label>
                        <input
                            class="form-control"
                            ng-model="aactrl.newAccommodation.available"
                            type="number"
                            min="0"
                            step="1"
                            required
                        />
                    </div>
                    <div class="form-group col-md-7" id="accommodation-checkbox">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="breakfast"
                                ng-checked="aactrl.newAccommodation.breakfast"
                                ng-true-value="1"
                                ng-false-value="0"
                                ng-model="aactrl.newAccommodation.breakfast"
                            />
                            <label class="form-check-label" for="gridCheck">
                                Breakfast
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="internet"
                                ng-checked="aactrl.newAccommodation.internet"
                                ng-true-value="1"
                                ng-false-value="0"
                                ng-model="aactrl.newAccommodation.internet"
                            />
                            <label class="form-check-label" for="gridCheck">
                                Internet
                            </label>
                        </div>
                    </div>
                    <div class="form-row" ng-if="!aactrl.editCheck">
                        <div class="col-md-10 custom-file">
                            <input
                                type="file"
                                ngf-select
                                class="custom-file-input"
                                ng-model="aactrl.images"
                                name="file"
                                accept="image/*"
                                required
                                ngf-model-invalid="errorFile"
                                ngf-multiple="true"
                            />
                            <label class="custom-file-label" for="file">Select images...</label>
                        </div>
                    </div>
                    <div class="form-row" ng-if="aactrl.images.length > 0">
                        <div class="col-md-12">
                            <small id="selectedImages" class="form-text text-muted">
                                Selected Images
                            </small>
                            <ul>
                                <li ng-repeat="image in aactrl.images" style="font:smaller">
                                    {{image.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</div>
