<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" ui-sref="dashboard.admin_home">
                <img
                    src="styles/images/yugen_logo.png"
                    width="160"
                    height="70"
                    alt="Yūgen logo"
                />
            </a>
        </div>

        <!-- Dashboard for administrators -->
        <ul class="nav flex-column mb-0 list-unstyled components" ng-if="dctrl.loggedIn.user_types_id == 1">
            <p id="welcome">
                Admin Panel <i class="fas fa-user-cog"></i>
            </p>
            <li class="nav-item active" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.admin_home"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.add_admin"><i class="fas fa-user-plus"></i> Add Admin</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.add_accommodation"><i class="fas fa-plus-circle"></i> <i class="fas fa-bed"></i> Add Accommodation</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.add_flight"><i class="fas fa-plus-circle"></i> <i class="fas fa-plane"></i> Add Flight</a>
            </li>
            <hr />
            <li class="nav-item" ui-sref-active="active">
                <a id="logout" ng-click="dctrl.userLogout()"
                    ><i class="fas fa-sign-out-alt"></i> Log out</a
                >
            </li>
        </ul>

        <!-- Dashboard for regular users -->
        <ul class="nav flex-column mb-0 list-unstyled components" ng-if="dctrl.loggedIn.user_types_id == 2">
            <p id="welcome">
                Welcome {{dctrl.loggedIn.first_name}}
                <span>
                    <img
                        src="{{dctrl.loggedIn.profile_image}}"
                        alt="Profile Image"
                        width="50"
                        class="mr-3 rounded-circle img-thumbnail shadow-sm"
                    />
                </span>
            </p>
            <li class="nav-item active" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.user_home"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard.accommodation"><i class="fas fa-bed"></i> Accommodation</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link"><i class="fas fa-plane"></i> Flights</a>
            </li>
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link"><i class="fas fa-suitcase-rolling"></i> Reservations / Tickets</a>
            </li>
            <hr class="my-4" />
            <li class="nav-item" ui-sref-active="active">
                <a id="logout" ng-click="dctrl.userLogout()"
                    ><i class="fas fa-sign-out-alt"></i> Log out</a
                >
            </li>
        </ul>
    </nav>
</nav>

<div id="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button
                type="button"
                id="sidebarCollapse"
                class="btn btn-outline-dark"
            >
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
    </nav>
    <div class="p-5">
        <ui-view></ui-view>
    </div>
</div>


    <script type="text/javascript">
        /*
		Script for sidebar collapsing
		*/
        $("#sidebarCollapse").on("click", function() {
            $("#sidebar, #content").toggleClass("active");
            $(".collapse.in").toggleClass("in");
        });
    </script>
</div>
