.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: fixed;
    top: 1;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.sign-bttns {
    margin-left: 10px;
}

.user-name {
    font-size: medium;
}

.dashboard-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content.active {
    margin-left: 14rem;
    width: calc(100% - 14rem);
}